*{
    margin: 0;
    padding: 0;
}

:root{
    --branco: white;
    --cinza-medio: #006699;
    --cinza-escuro: --cinza-escuro;
    --botao-color:rgb(50, 74, 214);
}


.black{
--back-color: #000;
--back-color: #FFF;
--botao-color:rgb(226, 143, 75);

}

body{
    color: var(--branco);
    background-color: var(--cinza-escuro);
    font-family: 'K2D', sans-serif;
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
    line-height: 1.5;
}

ul{
    font-size: 6.5rem;

}

li{
    display: inline;
    margin-left: 24px;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--branco);
}

.md-48{
    font-size: 48px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-medio);
    padding: 30px;
}

nav{
    display: none;
}

.area_banner{
    margin: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-medio);
    padding: 10px;
}

.area_banner img{
    width: 89%;
    border-radius:15px;
}

.area_servicos{
    margin: 24px;
}

.card_servico{
    background-color: var(--cinza-medio);
    border-radius: 10px;
    padding: 24px;
    text-align: center;
}

.card_servico img{
    border-radius: 20px;
    margin: 24px 16px 24px 0;
}

@media screen and (min-width: 1024px)
{

    #botao_menu{
        display: none;
    }

    nav{
        display: block;
    }

    .card_servico{
        text-align: left;
    }

    .card_servico_conteudo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.logo {
    width: 11%;
    
}
.logo2{
    width: 8%;
}
img {
    max-width:100%;
    height:auto;
}

footer{
    width: 100%;
    height: 8vh;
    background-color: #006699;
    display: flex;
    justify-content: space-between;
}
